name: Build and Generate PDF

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest 

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up GCC
      run: sudo apt-get install build-essential

    - name: Compile C program
      run: gcc src/mandelbrot.c -o mandelbrot

    - name: Run C program to generate data
      run: ./mandelbrot

    - name: Install Gnuplot
      run: sudo apt-get install gnuplot

    - name: Generate plot with Gnuplot
      run: gnuplot mandelbrot.gp

    - name: Install LaTeX
      run: sudo apt-get install texlive-latex-base texlive-fonts-recommended texlive-latex-extra

    - name: Compile LaTeX document
      run: pdflatex latex.tex

    - name: Upload PDF as artifact
      uses: actions/upload-artifact@v2
      with:
        name: dokument-pdf
        path: dokument.pdf
